.list-div {
  position: relative;
  top: 15px;
  padding: 50px;
  /* background-color: #f2f4f6; */
  background-color: #c8e2f675;
}
.list-div h3{
  display: flex;
  justify-content: center;
}
.doctor-list-div {
  display: grid;
  grid-template-columns: auto;
  height: 140px;
  border: 1px solid gray;
  margin: 10px;
}
li {
  list-style: none;
}
.picture {
  display: flex;
  flex-direction: row;
}
.pic-div {
  padding-right: 20px;
}
.info-doc {
  margin: 0px;
  padding-left: 30px;
}
p {
  margin: 0px;
  padding: 5px;
}
.speciality{
  background-color: #ddd563;
  font-weight: 600;
}
