<div class="list-div">
  <h2>List of available doctors</h2>
  <div *ngFor="let doctor of doctors" class="doctor-list-div">
    <ul>
      <li>
        <div class="picture">
          <!-- <div class="pic-div">Picture</div> -->
          <div class="info-doc">
            <p class="doc-name">
              <a href="/doctorprofile">{{ doctor.userName }}</a>
            </p>
            <p>ID: {{ doctor.doctorId }}</p>
            <p class="speciality">Speciality: {{ doctor.specialty }}</p>
            <p>Phone: {{ doctor.phone }}</p>
          </div>
          <!-- <div><a href=" {{'tel:' + doctor.phone}}">Make an Appointment</a></div> -->
        </div>

        <!-- <p>
          ID: {{ doctor.doctorId }} Name: {{ doctor.userName }} Speciality:
          {{ doctor.specialty }}
        </p> -->
        <!-- <p>{{ doctor.userId }}</p>
        <p></p>
        <p></p> -->
      </li>
    </ul>
  </div>
</div>
