<div class="heading">
  <div class="main-div">
    <h1>{{ this.name }}</h1>
    <h4>{{ this.role }}</h4>
  </div>
  <div class="second-div">
    <h2>Highlights</h2>
    <div class="inner-div">
      <h3>Age Group Seen</h3>
      <p class="para">All age group</p>
    </div>
    <div class="inner-div">
      <h3>Gender</h3>
      <p class="para">Female</p>
    </div>
    <div class="inner-div">
      <h3>Languages</h3>
      <p class="para">English, Bangali, French</p>
    </div>
  </div>
  <div class="second-div">
    <h2 class="about">About {{ this.name }}</h2>
    <p class="para">
      {{ this.name }}, MD, is a family medicine doctor in Detroit Michigan. She
      provides primary care for minor illness and injuries, preventive health
      screenings, routine check-ups and vaccinations. Dr. Syeda listens to
      understand you and your health concerns. She takes the time to get to know
      you and your family's health history. Then, Dr. Syeda works with you to
      create a personalized care plan for your long-term health needs
    </p>
  </div>
  <div>
    <div class="second-div">
      <h2 class="about">Education</h2>
      <p class="para">St. George University of Medicine</p>
    </div>
    <div class="second-div">
      <h3 class="about">Certificates</h3>
      <p class="para">THe American Board of Family Medicine - Family Medicine</p>
    </div>
  </div>
</div>
<div class="goBack">
    <a href="/patientDashboard"> Dashboard</a>
</div>

