<div class="heading">
    <div class="main-div">
        <h1>{{this.name}}</h1>
        <h4>{{this.role}}</h4>
    </div>
    <div>
        <h2>Highlights</h2>
        <div>
            <h3>Age Group Seen</h3>
            <p>All age group</p>
        </div>
        <div>
            <h3>Gender</h3>
            <p>Female</p>
        </div>
        
        <h3>Languages</h3>
        <p>English, Bangali, French</p>
    </div>
    <div>
      <h2>About {{this.name}}</h2>  
      <p>{{this.name}}, MD, is a family medicine doctor in Detroit Michigan. She provides primary care for minor illness and injuries, preventive health screenings, routine check-ups and vaccinations. Dr. Syeda listens to understand you and your health concerns. She takes the time to get to know you and your family's health history. Then, Dr. Syeda works with you to create a personalized care plan for your long-term health needs</p>
    </div>
    <div>
        <h2>Education</h2>
        <p>St. George University of Medicine</p>
        <h3>Certificates</h3>
        <p>THe American Board of Family Medicine - Family Medicine</p>
    </div>
</div>


