<div class="container">
    <div class="left-column">     

<form [formGroup]="appointmentForm" (submit)="onSubmit()">
    <div class="label-input-div">
        <label for="patientName">Patient Name: </label>
        <input type="text" id="patientName" formControlName="patientName">
        <div *ngIf="appointmentForm.get('patientName')?.invalid && appointmentForm.get('patientName')?.touched">
            <p>Patient name is required</p>
        </div>
    </div>

    <div class="label-input-div">
        <label for="doctorName">Doctor Name: </label>
        <input type="text" id="doctorName" formControlName="doctorName">
        <div *ngIf="appointmentForm.get('doctorName')?.invalid && appointmentForm.get('doctorName')?.touched">
            <p>Doctor name is required</p>
        </div>
    </div>

    <div class="label-input-div">
        <label for="appointmentDate">Appointment Date: </label>
        <input type="date" id="appointmentDate" formControlName="appointmentDate">
        <div *ngIf="appointmentForm.get('appointmentDate')?.invalid && appointmentForm.get('appointmentDate')?.touched">
            <p>Date is required</p>
        </div>
    </div>

    <div class="label-input-div">
        <label for="appointmentTime">Appointment Time: </label>
        <input type="time" id="appointmentTime" formControlName="appointmentTime">
        <div *ngIf="appointmentForm.get('appointmentTime')?.invalid && appointmentForm.get('appointmentTime')?.touched">
            <p>Time is required</p>
        </div>
    </div>

    <div class="label-input-div">
        <label for="status">Status: </label>
        <input type="text" id="status" formControlName="status">
       
    </div>
    <button type="submit" [disabled]="appointmentForm.invalid">Submit</button>
</form>
</div>
</div>