.login-p {
  margin-top: 155px;
  display: flex;
  justify-content: space-between;
}
.pa-div {
  padding-left: 25px;
  padding-top: 5px;
  font-size: 25px;
  color: red;
  font-family: "Montserrat", sans-serif;
}
.main {
  /* margin-top: -60px; */
  margin-top: -40px;
}
span {
  padding-left: 25px;
}
a:hover {
  background-color: rgb(119, 160, 170);
  border-radius: 15px;
}
.active {
  background-color: rgb(81, 120, 143);
  border-radius: 15px;
  color: black;
}

.right {
  position: absolute;
  right: 2%;
  padding: 3px;
}
.greet {
  position: absolute;
  color: rgb(5, 74, 12);
  font-size: larger;
  left: 45%;
}
.welcome {
  padding-left: 10px;
  display: flex;
  justify-content: center;
}
.welcome h3 {
  /* margin-top: 80px; */
  font-family: "Montserrat", sans-serif;
  margin-bottom: 5px;
  padding: 5px;
  font-size: 25px;
  color: #2b4d5f;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.side-bar-container {
  padding-left: 20px;
}
a {
  display: flex;
  justify-content: stretch;
  justify-content: center;
  margin: 5px;
  text-decoration: none;
  border: 1px solid #052347;
  border-radius: 3px;
  padding: 5px;
  background-color: #052347;
  cursor: pointer;
  font-size: 16px;
  color: white;
  font-family: "Montserrat", sans-serif;
}

@media only screen and (max-width: 500px) {
  .right,
  .greet {
    position: relative;
  }
}
