<div class="main-div">
  <div class="int-search-main">
    <h4>
      Appointments for
      <span class="pName"> - {{ this.patientName }}</span>
    </h4>
    <div class="int-search-input">
      <input
        type="text"
        [(ngModel)]="patientName"
        placeholder="Enter Patient Name"
      />
      <button (click)="fetchAppointments()">Search</button>
    </div>
  </div>
  <div *ngIf="appointments.length > 0">
    <!-- <h3>Appointments:</h3> -->
    <div *ngFor="let appointment of appointments" class="display-div">
      <ul>
        <li>
          <p>
            Patient: {{ appointment.patientName }} ID:
            {{ appointment.patientId }}
          </p>
          <p>Doctor: {{ appointment.doctorName }}</p>
          <p>
            Date: {{ appointment.appointmentDate }} Time:
            {{ appointment.appointmentTime }}
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
