<div class="ext-search-main">
  <div class="ext-search-input">
    <label for="npiSearch">Search NPI:</label>
    <input
      id="npiSearch"
      type="text"
      [formControl]="searchControl"
      placeholder="Enter search terms"
    />
  </div>
  <div class="ext-search-div">
    <ul>
      <li *ngFor="let result of filteredResults$ | async; let i = index">
        <div class="ext-doc-name">
          <strong>{{ i + 1 }}. {{ result[0] }}</strong>
        </div>
        <div class="info-div">
          <div class="npi-num">NPI Registry: {{ result[1] }}</div>
          <div class="ext-spec">Speciality: {{ result[2] }}</div>
          <div class="ext-address">Address: {{ result[3] }}</div>
        </div>
        <!-- <div><a href="http://maps.google.com/maps?q=${encodeURI(
                AutocompleteData.Practice  
                )}"></a>{{ result[4] }}</div> -->
      </li>
    </ul>
  </div>
</div>
