.ext-search-main {
  /* padding: 60px; */
  position: relative;
  top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ext-search-input {
  display: flex;
  justify-content: center;
  /* width: 300px; */
}
.ext-search-input label {
  align-items: center;
  padding: 5px;
}
.ext-search-input input {
  padding: 5px;
  border-radius: 5px;
  width: 300px;
  font-size: 15px;
}
.ext-doc-name {
  padding: 5px;
}

.npi-num {
  padding: 5px;
}
.ext-spec {
  padding: 5px;
  background-color: #19d5e3;
}
.ext-address {
  padding: 5px;
}

li {
  list-style: none;
  background-color: aliceblue;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  padding: 15px;
  width: 80%;
  border-radius: 5px;
  margin: 10px;
  color: #002855;
}
.info-div {
  padding-left: 15px;
}
.ext-search-div{
  display: flex;
    justify-content: center;
    align-items: center;
}