<body>

    <div class="container" id="medical-history">
        <div class="medical-header medical-history-header">
<h1> Medical History </h1> 
        </div>
    </div>

<div class="highlight-box">
<div class="notification-header">
    <h3>Patient Information</h3>
</div>
<p><strong>Name:</strong>Priy Ajay</p>
<p><strong>DOB:</strong>January 14th, 1993</p>
<p><strong>Sex:</strong>Female</p>
<p><strong>Primary Care Physician:</strong>Dr. Amy John</p>
</div>

<div class="medical-item">
 <div class="notification-header">
        <h3>Contact Information</h3>
    </div>
 <p><strong>Home Phone:</strong>313-555-7629</p>
<p><strong>Email:</strong>Unknown</p>
<p><strong>Home Address:</strong>Dr. Amy John</p>
</div>

<div class="medical-item">
    <div class="notification-header">
      <h3>Medical Conditions</h3>
    </div>
    <ul>
      <li>Asthma (Diagnosed 2009)</li>
      <li>Seasonal Allergies</li>
      <li>Hyperlipidemia</li>
      <li>Migraines</li>
    </ul>
  </div>

  <div class="medical-item">
    <div class="notification-header">
      <h3>Medications</h3>
    </div>
    <ul>
      <li>Albuterol Inhaler (PRN)</li>
      <li>Cetirizine 10mg daily</li>
      <li>Atorvastatin 10mg nightly</li>
      <li>Sumatriptan 50mg as needed</li>
    </ul>
  </div>

  <div class="medical-item">
    <div class="notification-header">
      <h3>Surgeries & Hospitalizations</h3>
    </div>
    <ul>
      <li>Appendectomy</li>
      <li>ER Visit for Acute Migraine (2022)</li>
    </ul>
  </div>

  <div class="medical-item">
    <div class="notification-header">
      <h3>Immunizations</h3>
    </div>
    <ul>
      <li>COVID-19 Booster (Nov 2024)</li>
      <li>Influenza (Oct 2024)</li>
      <li>Tetanus, Diphtheria, Pertussis</li>
    </ul>
  </div>

  <div class="medical-item">
    <div class="notification-header">
      <h3>Family Medical History</h3>
    </div>
    <ul>
      <li>Father: Type 2 Diabetes, Hypertension</li>
      <li>Mother: Asthma, Hyperlipidemia</li>
    
    </ul>
  </div>

  <div class="medical-item">
    <div class="notification-header">
      <h3>Allergies</h3>
    </div>
    <ul>
      <li>Penicillin: Rash, hives</li>
      <li>Shellfish: Hives</li>
    </ul>
  </div>

  <div class="medical-item">
    <div class="notification-header">
      <h3>Physician Notes</h3>
    </div>
    <p class="notification-message"><em>Patient came in for a check up today and had no complaints. Patient skin warm and dry to touch. Patient is compliant with medications and lifestyle modifications. Cholesterol levels improved over the last two quarters.  Recheck labs in 6 months.</em></p>
    <p><strong> Dr. Amy John</strong></p>
  </div>


<button class="action-button" onclick="window.print()">Download Medical History</button>

</body>
