/* .header {
  display: grid;
  grid-template-columns: auto auto;
}
.side-bar-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  padding: 10px;
}

a {
  text-decoration: none;
  padding: 10px 15px;
} */
.welcome {
  padding-left: 10px;
  display: flex;
  justify-content: center;
}
.welcome h3 {
  margin-top: 50px;
  padding: 5px;
  color: #2b4d5f;
}
nav {
  display: flex;
  flex-direction: column;
}

.side-bar-container {
  padding-left: 20px;
}
a {
  text-decoration: none;
  font-size: 20px;
    font-family: cursive;
}
