<div>
  <p class="login-p">
    <strong class="pa-div">{{ this.user.name }}</strong
    ><a routerLink="login" (click)="Logout()">Logout</a>
  </p>
</div>

<div class="main">
    <div class="header">
      <div class="welcome">
        <h3>Welcome to Doctor Portal</h3>
      </div>
      <div class="side-bar-container">
        <div class="nav-bar-menu">
          <nav>
            <a routerLink="doctor-appointment">Appointments</a>
            <a routerLink="schedule">Check Schedule</a>                                   
            <a routerLink="medical-history">View Medical History</a>
            <a routerLink="external">External Search</a>
            <a routerLink="notifications">Notifications</a> 
            
          </nav>
        </div>
      </div>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>