<div class="main">
  <div class="header">
    <div class="welcome">
      <h3>Welcome to Patient Portal</h3>
    </div>
    <div class="side-bar-container">
      <div class="side-bar-menu">
        <nav>
          <a routerLink="patientForm">New Patient Form</a>
          <a routerLink="patientappointment">Appointment </a>
          <a routerLink="medical-history">View Medical History</a>
          <a routerLink="notifications">Notifications</a>
          <!-- <a routerLink="doctorsId">Available Doctors</a> -->
        </nav>
      </div>
    </div>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
