.welcome {
  padding-left: 10px;
  display: flex;
  justify-content: center;
}
.welcome h3 {
  margin-top: 80px;
  margin-bottom: 5px;
  padding: 5px;
  color: #2b4d5f;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.side-bar-container {
  padding-left: 20px;
}
a {
  display: flex;
  justify-content: stretch;
  margin: 5px;
  text-decoration: none;
  border: 1px solid #052347;
  border-radius: 3px;
  padding: 5px;
  background-color: #052347;
  cursor: pointer;
  font-size: 12px;
  color: white;
}
